@model AuthorVM
@{
    ViewData["Title"] = "Author Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authors</title>
</head>
<body>
    <h1>Authors</h1>

    <form method="post">

        @Html.ActionLink("Create", "Create")
        @Html.ActionLink("Cancel", "Cancel")

        <br /><br />
        <table border="1" cellpadding="10">
            <tr>
                <th>AuthorID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th colspan="4">Actions</th>
            </tr>
            @foreach (var item in Model.Authors)
            {
                <tr>
                    <td>@item.AuthorID</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AuthorID })
                    </td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", new { id = item.AuthorID })
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.AuthorID },
                                      new { onclick = "return confirm('Are you sure you wish to delete this author?');" })
                    </td>

                </tr>
            }
        </table>
    </form>
</body>
</html>
